<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CONTACT{% endblock %}</title>
 {% block stylesheets %}
         <link rel="stylesheet"  href="/css/blog.css">
            <link rel="stylesheet"   href="/bootstrap.min.css">
           <link rel="stylesheet"   href="/js/jquery-3.4.1.js">
           <link rel="stylesheet"   href="/js/bootstrap.min.js">
        <link rel="stylesheet"   href="/js/popper.js">
 {% endblock %}

   {% block javascripts %}
   
   {% endblock %}



</head>

<body>


 {% block body %}

<div class="container5">
  <div class="row">
   
	
    
	
    <div class="col-6">
	<img src="/images/logo.jpg" align="left" height="70px">
       <h3 contenteditable data-heading="Frozen" style=" left: 20%;
 color: transparent;
 
	font-size: 5vw;
	margin: 0;
	font-family: 'frozen', serif;
	font-weight: 700;
	background: url(/images/8.jpg);
  	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	
	font-weight: 900;">RENDEZ-VOUS</h3>
    </div>
	
	
    <div class="col">
     <p>TELEPHONE: 33 854 00 00 |<a href="#">Compte </a><p> 
    </div>
  </div>
  <div class="row_2">
   
   <nav>
<ul> 
<li><form action="/search" id="searchthis" method="get">
<input id="search" name="q" type="text" placeholder="Que recherhez-vous?" />
<input id="search-btn" type="submit" value="Rechercher" />
</form></li>
</br></br></br></br></br>

<li class="menu-one"> <a href="{{path('acceuil', {slug: 'ACCEUIL'})}}"><strong> ACCEUIL</strong> </a> 
<li class="menu-two"><a href="#"><strong>HOPITAUX</strong></a> </li>
<li class="menu-three"><a href="{{path('specialiste', {slug: 'SPECIALISTE'})}}"><strong>SPECIALISTE</strong></a></li> 
<li class="menu-four"><a href="#"><strong>RENDEZ-VOUS</strong></a> </li>
<li class="menu-five"><a href="#"><strong>CONTACTER-NOUS</strong></a></li>

</ul>
</nav>
  </div>
</div>


 <div class="row_3">
 <h3><pre><img src="/images/trouv.PNG">               <img src="/images/date.PNG">                   <img src="/images/conf.PNG">  </pre></h3>


 <marquee id="id1" style="background-image: url('/images/i.jpg'); height:180px"><span  onmouseover="getElementById('id1').stop();" onmouseout="getElementById('id1').start();">
 <img src="/images/1.jpg"  ><img src="2.jpg" ><img src="/images/3.jpg" ><img src="/images/4.jpg" ><img src="/images/5.jpg" ><img src="/images/1.jpg" ><img src="/images/9.jpg" >
 <img src="/images/8.jpg" ><img src="6.jpg" ><img src="/images/7.jpg" ><img src="/images/4.jpg" ><img src="/images/5.jpg" ><img src="/images/1.jpg" ><img src="/images/9.jpg" >
 <img src="/images/8.jpg" ><img src="6.jpg" ><img src="/images/7.jpg" > <img src="/images/8.jpg" ><img src="/images/6.jpg" ><img src="/images/7.jpg" >
 <img src="/images/4.jpg" ><img src="5.jpg" ><img src="/images/1.jpg" ><img src="/images/9.jpg" ><img src="/images/8.jpg" ><img src="/images/6.jpg" ><img src="/images/7.jpg" ></span></marquee>

    
 </div>






<script>

h1.addEventListener("input", function() {
    this.setAttribute("data-heading", this.innerText);
});
</script>
 


 </br></br></br></br></br>
 </br></br></br>


<!-- Footer -->

	<footer class="footer" style="background-image: url('footer.jpg');>
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="t.jpg" data-speed="0.8"></div>
		<div class="footer_content">
			<div class="container">
				<div class="row">

					
					

					
				</div>
			</div>
		</div>
		<div class="footer_bar"  style="background-color:#232323 ;">
			<div class="container">
				<div class="row">
					<div class="col"   >
						<div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
							<nav class="footer_nav" style="background-color:#232323 ">
								<ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
									<li class="m"> <a href="#"><strong> ACCEUIL</strong> </a> 
										<li class="m"><a href="#"><strong>HOPITAUX</strong></a> </li>
										<li class="m"><a href="#"><strong>SPECIALITES</strong></a></li> 
										<li class="m"><a href="#"><strong>RENDEZ-VOUS</strong></a> </li>
										<li class="m"><a href="#"><strong>CONTACTER-NOUS</strong></a></li>
								</ul>
							</nav>

							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>




{% endblock %}
    </body>
</html>